#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100vh'
}

.form-title {
  font-size: large;
  margin: 15px;
}

.form-section {
  align-items: center;
  margin: 4rem;
}

.form-input {
  height: 1.5rem;
  width: 20rem;
}

.submit-btn:hover {
  color: rgb(164, 84, 238);
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1s ease-in-out infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.accepted-item {
  font-size: large;
}

.stats-container {
  margin-top: 5rem;
}

.table-item {
  text-align: center;
}

.summary-container {
    margin-top: 5rem;
}

.summary-title {
  margin-bottom: 5rem;
}

.custom-table {
  background-color: #242424;
}