#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100vh'
}

.form-title {
  font-size: large;
  margin: 15px;
}

.form-section {
  align-items: center;
  margin: 4rem;
}

.form-input {
  height: 1.5rem;
  width: 20rem;
}

.submit-btn:hover {
  color: rgb(164, 84, 238);
}